@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import 'partials/mixins';
@import "partials/common";
@import 'lib/countbox';
@import 'partials/header';
@import 'partials/order-form';
@import 'partials/advantages';
@import 'partials/composition';
@import 'partials/main-indications';

.section-block {
  padding-top: 50px;
  &-title {
    margin: 0 0 75px;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    letter-spacing: 6px;
    @include AkrobatRegular;
  }
}
