@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import 'partials/mixins';
@import "partials/common";
@import 'lib/countbox';

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;

  &-courier {
    background-position: -5px -5px;
    width: 79px;
    height: 43px;
  }

  &-dhl {
    background-position: -94px -5px;
    width: 84px;
    height: 21px;
  }

  &-icon {
    background-position: -94px -36px;
    width: 51px;
    height: 51px;
  }

  &-icon-2 {
    background-position: -155px -36px;
    width: 51px;
    height: 51px;
  }

  &-icon-3 {
    background-position: -5px -97px;
    width: 51px;
    height: 51px;
  }

  &-icon-4 {
    background-position: -66px -97px;
    width: 51px;
    height: 51px;
  }

  &-icon-5 {
    background-position: -127px -97px;
    width: 51px;
    height: 51px;
  }

  &-icon-6 {
    background-position: -5px -158px;
    width: 53px;
    height: 15px;
  }

  &-item-big {
    background-position: -68px -158px;
    width: 90px;
    height: 35px;
  }

  &-item-header {
    background-position: -188px -5px;
    width: 32px;
    height: 13px;
  }

  &-jcb {
    background-position: -188px -97px;
    width: 43px;
    height: 41px;
  }

  &-mastercard {
    background-position: -230px -5px;
    width: 74px;
    height: 51px;
  }

  &-mastercard-securecode {
    background-position: -188px -148px;
    width: 80px;
    height: 42px;
  }

  &-post-russia {
    background-position: -241px -66px;
    width: 76px;
    height: 38px;
  }

  &-visa {
    background-position: -168px -200px;
    width: 56px;
    height: 39px;
  }

  &-visa-verified {
    background-position: -234px -200px;
    width: 74px;
    height: 47px;
  }
}

.header {
  background: url("../img/bg-header.jpg") no-repeat center top #eaeaea;
  position: relative;
  &:after {
    height: 105px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    content: '';
    background: #343129;
    background: -moz-linear-gradient(left, #343129 2%, #80735c 48%, #343129 100%);
    background: -webkit-linear-gradient(left, #343129 2%, #80735c 48%, #343129 100%);
    background: linear-gradient(to right, #343129 2%, #80735c 48%, #343129 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343129', endColorstr='#343129', GradientType=1);
  }
  .container {
    position: relative;
    z-index: 6;
  }
  &-panel {
    margin-bottom: 40px;
    background-color: #08090c;
    .container {
      height: 76px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-signature {
    margin-bottom: 20px;
    font-size: 32px;
    text-transform: uppercase;
    @include AkrobatBlack;
  }
  &-title {
    margin: 0 0 45px;
    line-height: 1;
    font-size: 70px;
    letter-spacing: 13px;
    text-transform: uppercase;
    @include GothamBlack;
    &-text {
      @include GothamLight;
    }
  }
  &-list {
    margin: 0 0 135px;
    padding: 0;
    list-style: none;
    li {
      padding-left: 50px;
      position: relative;
      line-height: 1.3;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      &::before {
        position: absolute;
        top: 7px;
        left: 0;
        content: '';
        @include stitches-sprite(-188px, -5px, 32px, 13px);
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    .left {
      width: 350px;
    }
    .certificates {
      margin-bottom: 70px;
      .fancybox {
        margin-right: 10px;
        padding: 5px;
        background-color: #fff;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
          background-color: #d99827;
        }
      }
    }
    .product {
      margin-bottom: 20px;
      align-self: flex-end;
    }
  }
}

.order-form {
  width: 365px;
  padding: 20px 35px;
  text-align: center;
  line-height: 1;
  background-color: rgba(255, 255, 255, .8);
  align-self: flex-end;
  &-today {
    margin-bottom: 15px;
    font-size: 24px;
    text-transform: uppercase;
    @include AkrobatRegular;
  }
  &-stock {
    font-size: 48px;
    text-transform: uppercase;
    @include AkrobatBlack;

  }
  .old-price {
    margin-top: 20px;
    font-size: 24px;
    display: block;
    text-transform: uppercase;
    @include AkrobatRegular;
  }
  .new-price {
    padding-top: 5px;
    margin-bottom: 15px;
    font-size: 48px;
    text-transform: uppercase;
    @include AkrobatBlack;
  }
  .form-control {
    text-align: center;
  }
  .button-default {
    width: 100%;
    padding: 12px 10px;
  }
  &-text {
    margin: 10px 0;
    font-size: 14px;
  }
  &-motivation {
    color: #d99827;
  }
}
