.ali-caps-plus {
  background: url("../img/bg-ali-caps-plus.jpg") no-repeat top center;
  .brand {
    @include AkrobatBlack;
  }
  .list {
    margin: 0 50px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-bottom: 90px;
      font-size: 24px;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      &::before {
        margin-right: 45px;
        content: '';
        @include stitches-sprite(-68px, -158px, 90px, 35px);
      }
      .text {
        flex-basis: calc(100% - 135px);
      }
    }
  }
}
