.convenience-working {
  ul {
    padding-top: 20px;
    padding-bottom: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include to('m') {
      flex-direction: column;
    }
  }
  li {
    @include to('m') {
      margin-bottom: 40px;
    }
    @include to('xs') {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .title {
    margin-bottom: 20px;
    color: #e7ae4a;
    @include to('xs') {
      flex-basis: 100%;
    }
  }
  .item {
    color: #686868;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    @include from('s') {
      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }
    &::before {
      margin: 0 auto 10px;
      display: block;
      content: '';
    }
  }
}
