.convenience-working {
  ul {
    padding-top: 20px;
    padding-bottom: 30px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    @include to('m') {
      flex-direction: column;
      align-items: center;
    }
  }
  @include to('m') {
    li {
      margin-bottom: 40px;
    }
  }
  .title {
    margin-bottom: 20px;
    color: #e7ae4a;
    @include from('l') {
      text-align: left;
    }
  }
  .item {
    color: #686868;
    font-size: 12px;
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 40px;
    }
    &::before {
      margin: 0 auto 10px;
      display: block;
      content: '';
    }
  }
}
